[*.cs]

# IDE0005: Using 指令是不需要的。
dotnet_diagnostic.IDE0005.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
